# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python/
env/
venv/
.venv/
# If you store uploaded files locally
uploads/
# Environment variables file
.env
# IDE specific files
.vscode/
# Operating System files
.DS_Store
Thumbs.db
# Jupyter Notebooks (if any)
.ipynb_checkpoints/